* {
  font-size: 1.5rem;
}

header {
  background-color: #082b20;
  color: aliceblue;
}
.app_header {
  margin-bottom: 2rem;
}
.app_header__short_info {
  height: 4rem;
  align-items: center;
}


main {
  margin-bottom: 2rem;
  height: 20rem;
}



@media(min-width: 350px) {
  * {
    font-size: 1.4rem;
  }
}

@media(min-width: 768px) {
  * {
    font-size: 1.2rem;
  }
}
